# **add libraries**

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **read clean movie dataframe**

In [13]:
movie_df = pd.read_csv('clean_movies.csv')
movie_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,NaN,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,NaN,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,NaN,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,NaN,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,NaN,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,NaN,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
954,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,NaN,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
955,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,NaN,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0
956,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,no certificate,NaN,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
957,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,no certificate,NaN,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

# **building a list of user  for implementation ssystem**

In [14]:
import numpy as np

num_users = 10

users = [f'User_{i}' for i in range(1, num_users+1)]
movie_df['User'] = np.random.choice(users, size=len(movie_df))

# **show sample**

In [15]:
movie_df['User']

0       User_9
1       User_2
2       User_7
3       User_5
4       User_7
        ...
953     User_8
954     User_3
955    User_10
956     User_8
957     User_2
Name: User, Length: 958, dtype: object

# **random choice number of users or samples for checking and recommending**

In [16]:
sample_df = movie_df.sample(n=20, random_state=42)
sample_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,User
836,https://m.media-amazon.com/images/M/MV5BMzYyNz...,The Magnificent Seven,1960,Approved,NaN,"Action, Adventure, Western",7.7,Seven gunfighters are hired by Mexican peasant...,74.00000,John Sturges,Yul Brynner,Steve McQueen,Charles Bronson,Eli Wallach,87719,4905000.0,User_7
477,https://m.media-amazon.com/images/M/MV5BMGUyM2...,The Irishman,2019,R,NaN,"Biography, Crime, Drama",7.9,An old man recalls his time painting houses fo...,94.00000,Martin Scorsese,Robert De Niro,Al Pacino,Joe Pesci,Harvey Keitel,324720,7000000.0,User_4
350,https://m.media-amazon.com/images/M/MV5BZmNjZW...,Slumdog Millionaire,2008,UA,NaN,"Drama, Romance",8.0,A Mumbai teenager reflects on his life after b...,84.00000,Danny Boyle,Loveleen Tandan,Dev Patel,Freida Pinto,Saurabh Shukla,798882,141319928.0,User_10
891,https://m.media-amazon.com/images/M/MV5BYmM2ND...,Gone Baby Gone,2007,R,NaN,"Crime, Drama, Mystery",7.6,Two Boston area detectives investigate a littl...,72.00000,Ben Affleck,Morgan Freeman,Ed Harris,Casey Affleck,Michelle Monaghan,250590,20300218.0,User_5
855,https://m.media-amazon.com/images/M/MV5BOWVmZG...,The Peanut Butter Falcon,2019,PG-13,NaN,"Adventure, Comedy, Drama",7.6,Zak runs away from his care home to make his d...,70.00000,Tyler Nilson,Michael Schwartz,Zack Gottsagen,Ann Owens,Dakota Johnson,66346,13122642.0,User_6
261,https://m.media-amazon.com/images/M/MV5BMjM2MD...,Jurassic Park,1993,UA,NaN,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,68.00000,Steven Spielberg,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,867615,402453882.0,User_3
215,https://m.media-amazon.com/images/M/MV5BOWEwOD...,Rush,2013,UA,NaN,"Action, Biography, Drama",8.1,The merciless 1970s rivalry between Formula On...,74.00000,Ron Howard,Daniel BrÃ¼hl,Chris Hemsworth,Olivia Wilde,Alexandra Maria Lara,432811,26947624.0,User_3
334,https://m.media-amazon.com/images/M/MV5BMTEwNj...,Short Term 12,2013,R,NaN,Drama,8.0,A 20-something supervising staff member of a r...,82.00000,Destin Daniel Cretton,Brie Larson,Frantz Turner,John Gallagher Jr.,Kaitlyn Dever,81770,1010414.0,User_5
86,https://m.media-amazon.com/images/M/MV5BZWZhMj...,Andhadhun,2018,UA,NaN,"Crime, Drama, Music",8.3,A series of mysterious events change the life ...,77.97153,Sriram Raghavan,Ayushmann Khurrana,Tabu,Radhika Apte,Anil Dhawan,71875,1373943.0,User_10
876,https://m.media-amazon.com/images/M/MV5BNDY2OT...,HÃ¦vnen,2010,R,NaN,"Drama, Romance",7.6,The lives of two Danish families cross each ot...,65.00000,Susanne Bier,Mikael Persbrandt,Trine Dyrholm,Markus Rygaard,Wil Johnson,38491,1008098.0,User_1
576,https://m.media-amazon.com/images/M/MV5BMjA1MT...,The Hateful Eight,2015,A,NaN,"Crime, Drama, Mystery",7.8,"In the dead of a Wyoming winter, a bounty hunt...",68.00000,Quentin Tarantino,Samuel L. Jackson,Kurt Russell,Jennifer Jason Leigh,Walton Goggins,517059,54117416.0,User_5
67,https://m.media-amazon.com/images/M/MV5BOThkM2...,The Lives of Others,2006,A,NaN,"Drama, Mystery, Thriller",8.4,"In 1984 East Berlin, an agent of the secret po...",89.00000,Florian Henckel von Donnersmarck,Ulrich MÃ¼he,Martina Gedeck,Sebastian Koch,Ulrich Tukur,358685,11286112.0,User_7
218,https://m.media-amazon.com/images/M/MV5BMTQ2MD...,Song of the Sea,2014,PG,NaN,"Animation, Adventure, Drama",8.1,"Ben, a young Irish boy, and his little sister ...",85.00000,Tomm Moore,David Rawle,Brendan Gleeson,Lisa Hannigan,Fionnula Flanagan,51679,857524.0,User_3
953,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,NaN,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.00000,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,User_8
582,https://m.media-amazon.com/images/M/MV5BMTUwMz...,The Lunchbox,2013,U,NaN,"Drama, Romance",7.8,A mistaken delivery in Mumbai's famously effic...,76.00000,Ritesh Batra,Irrfan Khan,Nimrat Kaur,Nawazuddin Siddiqui,Lillete Dubey,50523,4231500.0,User_6
542,https://m.media-amazon.com/images/M/MV5BMjc4MT...,Spartacus,1960,A,NaN,"Adventure, Biography, Drama",7.9,The slave Spartacus leads a violent revolt aga...,87.00000,Stanley Kubrick,Kirk Douglas,Laurence Olivier,Jean Simmons,Charles Laughton,124339,30000000.0,User_5
30,https://m.media-amazon.com/images/M/MV5BYjBmYT...,Seppuku,1962,no certificate,NaN,"Action, Drama, Mystery",8.6,When a ronin requesting seppuku at a feudal lo...,85.00000,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,TetsurÃ´ Tanba,42004,NaN,User_5
464,https://m.media-amazon.com/images/M/MV5BMjE5OT...,Captain Fantastic,2016,R,NaN,"Comedy, Drama",7.9,"In the forests of the Pacific Northwest, a fat...",72.00000,Matt Ross,Viggo Mortensen,George MacKay,Samantha Isler,Annalise Basso,189400,5875006.0,User_3
785,https://m.media-amazon.com/images/M/MV5BZDQzMG...,A Little Princess,1995,U,NaN,"Drama, Family, Fantasy",7.7,A young girl is relegated to servitude at a bo...,83.00000,Alfonso CuarÃ³n,Liesel Matthews,Eleanor Bron,Liam Cunningham,Rusty Schwimmer,32236,10019307.0,User_7
906,https://m.media-amazon.com/images/M/MV5BNmE0Yj...,25th Hour,2002,R,NaN,Drama,7.6,"Cornered by the DEA, convicted New York drug d...",68.00000,Spike Lee,Edward Norton,Barry Pepper,Philip Seymour Hoffman,Rosario Dawson,169708,13060843.0,User_3

# **kepping needful columns for system and delete extra columns**

In [17]:
needed_columns = ['User', 'Series_Title', 'Genre', 'IMDB_Rating']
sample_df = sample_df[needed_columns]
sample_df

,User,Series_Title,Genre,IMDB_Rating
836,User_7,The Magnificent Seven,"Action, Adventure, Western",7.7
477,User_4,The Irishman,"Biography, Crime, Drama",7.9
350,User_10,Slumdog Millionaire,"Drama, Romance",8.0
891,User_5,Gone Baby Gone,"Crime, Drama, Mystery",7.6
855,User_6,The Peanut Butter Falcon,"Adventure, Comedy, Drama",7.6
261,User_3,Jurassic Park,"Action, Adventure, Sci-Fi",8.1
215,User_3,Rush,"Action, Biography, Drama",8.1
334,User_5,Short Term 12,Drama,8.0
86,User_10,Andhadhun,"Crime, Drama, Music",8.3
876,User_1,HÃ¦vnen,"Drama, Romance",7.6
576,User_5,The Hateful Eight,"Crime, Drama, Mystery",7.8
67,User_7,The Lives of Others,"Drama, Mystery, Thriller",8.4
218,User_3,Song of the Sea,"Animation, Adventure, Drama",8.1
953,User_8,Breakfast at Tiffany's,"Comedy, Drama, Romance",7.6
582,User_6,The Lunchbox,"Drama, Romance",7.8
542,User_5,Spartacus,"Adventure, Biography, Drama",7.9
30,User_5,Seppuku,"Action, Drama, Mystery",8.6
464,User_3,Captain Fantastic,"Comedy, Drama",7.9
785,User_7,A Little Princess,"Drama, Family, Fantasy",7.7
906,User_3,25th Hour,Drama,7.6

# **sorting rows with imbd_rate datas**

In [18]:
sample_df = sample_df.sort_values(by='IMDB_Rating', ascending=False)
sample_df

,User,Series_Title,Genre,IMDB_Rating
30,User_5,Seppuku,"Action, Drama, Mystery",8.6
67,User_7,The Lives of Others,"Drama, Mystery, Thriller",8.4
86,User_10,Andhadhun,"Crime, Drama, Music",8.3
261,User_3,Jurassic Park,"Action, Adventure, Sci-Fi",8.1
218,User_3,Song of the Sea,"Animation, Adventure, Drama",8.1
215,User_3,Rush,"Action, Biography, Drama",8.1
334,User_5,Short Term 12,Drama,8.0
350,User_10,Slumdog Millionaire,"Drama, Romance",8.0
542,User_5,Spartacus,"Adventure, Biography, Drama",7.9
464,User_3,Captain Fantastic,"Comedy, Drama",7.9
477,User_4,The Irishman,"Biography, Crime, Drama",7.9
582,User_6,The Lunchbox,"Drama, Romance",7.8
576,User_5,The Hateful Eight,"Crime, Drama, Mystery",7.8
836,User_7,The Magnificent Seven,"Action, Adventure, Western",7.7
785,User_7,A Little Princess,"Drama, Family, Fantasy",7.7
891,User_5,Gone Baby Gone,"Crime, Drama, Mystery",7.6
876,User_1,HÃ¦vnen,"Drama, Romance",7.6
855,User_6,The Peanut Butter Falcon,"Adventure, Comedy, Drama",7.6
953,User_8,Breakfast at Tiffany's,"Comedy, Drama, Romance",7.6
906,User_3,25th Hour,Drama,7.6

# **reset indexes**

In [19]:
sample_df = sample_df.reset_index(drop=True)
sample_df

,User,Series_Title,Genre,IMDB_Rating
0,User_5,Seppuku,"Action, Drama, Mystery",8.6
1,User_7,The Lives of Others,"Drama, Mystery, Thriller",8.4
2,User_10,Andhadhun,"Crime, Drama, Music",8.3
3,User_3,Jurassic Park,"Action, Adventure, Sci-Fi",8.1
4,User_3,Song of the Sea,"Animation, Adventure, Drama",8.1
5,User_3,Rush,"Action, Biography, Drama",8.1
6,User_5,Short Term 12,Drama,8.0
7,User_10,Slumdog Millionaire,"Drama, Romance",8.0
8,User_5,Spartacus,"Adventure, Biography, Drama",7.9
9,User_3,Captain Fantastic,"Comedy, Drama",7.9
10,User_4,The Irishman,"Biography, Crime, Drama",7.9
11,User_6,The Lunchbox,"Drama, Romance",7.8
12,User_5,The Hateful Eight,"Crime, Drama, Mystery",7.8
13,User_7,The Magnificent Seven,"Action, Adventure, Western",7.7
14,User_7,A Little Princess,"Drama, Family, Fantasy",7.7
15,User_5,Gone Baby Gone,"Crime, Drama, Mystery",7.6
16,User_1,HÃ¦vnen,"Drama, Romance",7.6
17,User_6,The Peanut Butter Falcon,"Adventure, Comedy, Drama",7.6
18,User_8,Breakfast at Tiffany's,"Comedy, Drama, Romance",7.6
19,User_3,25th Hour,Drama,7.6

# **genre list**

In [20]:
#all genres add to a list
all_genres = sample_df['Genre'].str.split(',').explode()

#delete spaces
all_genres = all_genres.str.strip()

#get unique genre 
unique_genres = all_genres.unique()

#sorting list A--z
unique_genres = sorted(unique_genres)

print(unique_genres)

['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Music', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'Western']

# **show with crosstab method**

In [21]:
pd.crosstab(index=sample_df['User'],
                           columns=sample_df['Genre'],
                           )

Genre,"Action, Adventure, Sci-Fi","Action, Adventure, Western","Action, Biography, Drama","Action, Drama, Mystery","Adventure, Biography, Drama","Adventure, Comedy, Drama","Animation, Adventure, Drama","Biography, Crime, Drama","Comedy, Drama","Comedy, Drama, Romance","Crime, Drama, Music","Crime, Drama, Mystery",Drama,"Drama, Family, Fantasy","Drama, Mystery, Thriller","Drama, Romance"
User,,,,,,,,,,,,,,,,
User_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
User_10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
User_3,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0
User_4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
User_5,0,0,0,1,1,0,0,0,0,0,0,2,1,0,0,0
User_6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
User_7,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
User_8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

# **founder function**

In [22]:
def recommend_by_genre(genre, n=5):
   
    filtered = sample_df[sample_df['Genre'].str.contains(genre, case=False)]
    
    filtered = filtered.sort_values(by='IMDB_Rating', ascending=False)

    return filtered[['Series_Title', 'Genre', 'IMDB_Rating']].head(n)


recommend_by_genre('Biography, Crime, Drama', n=5)

    Series_Title                    Genre  IMDB_Rating
10  The Irishman  Biography, Crime, Drama          7.9